<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.SysAuthMapper">
  <resultMap id="BaseResultMap" type="com.example.model.SysAuth">

    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="app_type" jdbcType="INTEGER" property="appType" />
    <result column="editor" jdbcType="BIGINT" property="editor" />
    <result column="pic_url" jdbcType="VARCHAR" property="picUrl" />
    <result column="link" jdbcType="VARCHAR" property="link" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>

  <insert id="save" parameterType="com.duia.model.duiba.AppConfig" keyProperty="id" useGeneratedKeys="true">
    insert into app_config(app_type,editor,pic_url,link,create_time,status)
    VALUES (#{appType},#{editor},#{picUrl},#{link},#{createTime},#{status})
  </insert>

  <update id="update" parameterType="com.duia.model.duiba.AppConfig">
    update app_config
    <trim prefix="set" suffixOverrides=",">
      <if test="appType != null">app_type=#{appType},</if>
      <if test="editor != null">editor=#{editor},</if>
      <if test="picUrl != null">pic_url=#{picUrl},</if>
      <if test="status != null">status=#{status},</if>
    </trim>
    where id=#{id}
  </update>

  <select id="findByApp" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select * from app_config where app_type=#{apptype} and status = 1
  </select>
</mapper>