<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.mapper.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.example.model.SysUser">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_account" jdbcType="VARCHAR" property="userAccount" />
    <result column="user_password" jdbcType="VARCHAR" property="userPassword" />
    <result column="user_state" jdbcType="INTEGER" property="userState" />
  </resultMap>
  <resultMap id="sysUserDtoResultMap" type="com.example.dto.SysUserDto" extends="BaseResultMap"/>
 <!-- <insert id="save" parameterType="com.duia.model.duiba.AppConfig" keyProperty="id" useGeneratedKeys="true">
    insert into app_config(app_type,editor,pic_url,link,create_time,status)
    VALUES (#{appType},#{editor},#{picUrl},#{link},#{createTime},#{status})
  </insert>

  <update id="update" parameterType="com.duia.model.duiba.AppConfig">
    update app_config
    <trim prefix="set" suffixOverrides=",">
      <if test="appType != null">app_type=#{appType},</if>
      <if test="editor != null">editor=#{editor},</if>
      <if test="picUrl != null">pic_url=#{picUrl},</if>
      <if test="status != null">status=#{status},</if>
    </trim>
    where id=#{id}
  </update>
-->
  <select id="findByAccount" resultMap="sysUserDtoResultMap" parameterType="string">
    select id, user_account , user_password,  user_state from sys_user where user_account = #{apptype}
  </select>
</mapper>